.starter {
    display: flex;
    flex-flow: column;
    margin: 8px 8px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.starter div {
    display: flex;
    flex-flow: column;
    margin: 16px 8px;
}

input,
select {
    border-radius: 4px;
    color: #555555;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    /* display: block; */
    font-size: 17px;
    margin: 16px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

input:hover,
select:hover {
    background-color: #555555;
    color: white;
    transition-duration: 0.4s;
}